<?xml version="1.0" encoding="utf-8"?>

<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <!-- ensure this is defined, sometimes is ignored in cli -->
    <PropertyGroup>
        <SolutionDir Condition="'$(SolutionDir)'=='' or '$(SolutionDir)'=='*Undefined*'">..\</SolutionDir>
    </PropertyGroup>
    <PropertyGroup>
        <SelfContained>true</SelfContained>
        <TargetFramework>net6.0</TargetFramework>
        <Platform>x86</Platform>
        <RuntimeIdentifier>win10-x86</RuntimeIdentifier>
        <PublishDir>$(SolutionDir)bin\publish\SelfContained\net6.0\win10-x86\</PublishDir>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishReadyToRun>true</PublishReadyToRun>
        <_TargetId>Folder</_TargetId>
        <PublishProtocol>FileSystem</PublishProtocol>
        <Configuration>Release</Configuration>
    </PropertyGroup>
</Project>
